<div class="col-center">
  <h1 class="page-title">投稿詳細</h1>
  <div class="picture-info col-md-6 col-center">
    <ul>
      <li>
        <%= attachment_image_tag(@picture, :image, :limit, 200, 200) %>
      </li>
      <li>
        <%= @picture.content %>
      </li>
      <% if correct_owner? %>
        <li class="option">
          <%= link_to "編集", edit_picture_path(@picture) %> / 
          <%= link_to "削除", picture_path, method: :delete, data: {confirm: "本当に削除しますか？"} %>
        </li>
      <% end %>
    </ul>
  </div>
</div>